/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {

    --bg-color: #3a0404;
    --text-color: #fff;
    --main-color: rgb(226, 51, 39);
}

/* Global Reset */
html {
    scroll-snap-type: y mandatory;
}
html,
body {
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}

body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5) url('../images/bg.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    /* scroll-snap-align: start; */
}

p {
    font-size: 14px;
    line-height: 26px;
}