@import url('global.css');

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #3a0404, #550f0f);
    padding: 28px 12%;
    transition: all .50s ease;
    border-bottom-right-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 120px;
}

.header-logo {
    width: 90px;

}

.logo span {
    color: var(--text-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 20000;
    display: none;
}

@media (max-width: 1200px) {
    #menu-icon {
        display: block;
        color: var(--text-color);
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(-3px);
    }

    .navbar a.active {
        color: var(--text-color);
    }

    .navbar.open {
        right: 2%;
    }
}


/* Footer */
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #550f0f, #3a0404);
    color: var(--text-color);
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 14px;
    line-height: 1.6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer .logo {
    width: 90px;
    margin-bottom: 30px;


}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.col h3 {
    width: fit-content;
    margin-bottom: 66px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid var(--text-color);
    margin: 20px 0;
}

.col ul li {
    margin-bottom: 12px;
}

.col ul li a {
    color: var(--text-color);
}

.col .fas {
    margin-right: 10px;
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 50px;
}

footer form .far {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
}

footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer form button .fas {
    font-size: 16px;
    color: var(--text-color);
}

footer .social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 15px;
    color: var(--main-color);
    background: var(--text-color);
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid var(--main-color);
    margin: 20px auto;
}

footer .copyright {
    text-align: center;
}

footer .underline {
    width: 100%;
    height: 5px;
    background: var(--main-color);
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span {
    width: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width:700px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}

/* Responsive Design */

@media screen and (max-width: 999px) {

    header {
        padding-left: 50px;
    }

}

@media screen and (max-width: 690px) {
    header nav a {
        font-size: 14px;
        margin-right: 0;
    }

}