@import url('global.css');
/* Hero Section */
.hero {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    padding-top: 80px;
    /* Match header height */
    margin-top: 0;
    /* Ensure no extra margin */
    position: relative;
    /* Ensure content stays within the section */
    overflow: hidden;
    /* Prevent content from overflowing */
}

.hero-content {
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 1;
    /* Ensure content is above the background */
    padding-top: 80px;
    height: 350px;
    border-bottom: 5px solid var(--main-color);

}

.hero span {
    color: var(--main-color);
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-btn {
    background: var(--main-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hero-btn:hover {
    background: #fff;
    color: var(--main-color);
}

@media (max-width:725px) {
    .hero-content {
        height: 80vh;
    }

}
