/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {

    --bg-color: #3a0404;
    --text-color: #fff;
    --main-color: rgb(226, 51, 39);
}

body {
    min-height: 100vh;
    background-image: url(../images/redback.jpg);
    color: var(--text-color);
background-size: cover ;
}

p {
    font-size: 14px;
    line-height: 26px;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #3a0404, #550f0f);
    padding: 28px 12%;
    transition: all .50s ease;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header-logo {
    width: 90px;

}

.logo span {
    color: var(--text-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1200px) {
    #menu-icon {
        display: block;
        color: var(--text-color);
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(-3px);
    }

    .navbar a.active {
        color: var(--text-color);
    }

    .navbar.open {
        right: 2%;
    }
}


/* Footer */
footer {
    width: 100%;
    position: relative  ;
    bottom: 0;
    background: linear-gradient(to right, #550f0f, #3a0404);
    color: var(--text-color);
    padding: 100px 0 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 14px;
    line-height: 1.6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer .logo {
    width: 90px;
    margin-bottom: 30px;


}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.col h3 {
    width: fit-content;
    margin-bottom: 66px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid var(--text-color);
    margin: 20px 0;
}

.col ul li {
    margin-bottom: 12px;
}

.col ul li a {
    color: var(--text-color);
}

.col .fas {
    margin-right: 10px;
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 50px;
}

footer form .far {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
}

footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer form button .fas {
    font-size: 16px;
    color: var(--text-color);
}

footer .social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 15px;
    color: var(--main-color);
    background: var(--text-color);
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid var(--main-color);
    margin: 20px auto;
}

footer .copyright {
    text-align: center;
}

footer .underline {
    width: 100%;
    height: 5px;
    background: var(--main-color);
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span {
    width: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width:700px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}


/* Hero */
.fullContainer {
    width: 100%;
}

.container {
    width: 1140px;
    margin: auto;
}



.banner {
    min-height: 100vh;
    width: 100%;
    /* background-image: url(../images/redback.jpg); */
    background-size: cover;
    background-attachment: fixed;
}

.banner h1 {
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: var(--text-color);
    text-shadow: 0 0 2px #000;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span {
    background-color: var(--main-color);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 5px;
}

.banner p {
    width: 50%;
    text-shadow: 0 0 2px #000;
    margin-top: 10px;
    margin-bottom: 20px;

}

.banner a {
    background-color: var(--main-color);
    color: var(--text-color);
    border: 0;
    outline: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 10px;
    transition: all .50s ease;
    font-weight: 600;

}

.banner a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transform: translateY(-3px);
}

@media screen and (max-width:1140px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

}

@media screen and (max-width:1080px) {
    .banner h1 {
        margin-top: 200px;
    }
}


@media screen and (max-width:1020px) {
    .banner {
        background-position: 45%;
    }

    .banner h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:768px) {
    .banner {
        background-position-x: 65%;
    }

    .banner p {
        font-size: 14px;
    }

    .banner p,
    .banner h {
        width: 70%;
    }
}


@media screen and (max-width:425px) {
    .banner h1 {
        margin-top: 150px;
        font-size: 2rem;
        line-height: 3rem;
    }

    .banner a {
        margin-bottom: 10px;
    }

}


 